{if="!isset($post)"}

<form method="get" action="/pho1/cities/search">
<div class="form-group">
	<label class="control-label" for="title">Название города:</label>
	<div class="controls">
	<input type="text" class="input-xlarge form-control" rows="5" value="" name="name" id="title"></textarea>
	</div>
</div>
<button class="btn btn-info">Найти город</button>
</form>


<h4>Список городов</h4>
<table class="table"><thead>
<th>Город</th>
<th>Количество юзеров</th></thead>
{$code}
</table>
{else}
<p>Из города &quot;{$city}&quot; найдены следующие юзеры:</p>
{$buttons}
{$code}
<script>
$.ajax({  
  	url: 'http://api.vk.com/method/users.get?user_ids={$list}&fields=photo_100',  
  	dataType: "jsonp",  
	success:function(e){ 
		for(i in e.response){
			u=e.response[i];
			uid=u.uid;
			console.log(uid);
			$("#u"+uid).html("<img src='"+u.photo_100+"'><br /><h4>"+u.first_name+" "+u.last_name+"</h4>");
		}
	}  
}); 
</script>
{/if}