<p>Из группу &quot;{$id}&quot; найдены следующие юзеры:</p>
{$buttons}
{$code}
<script>
$.ajax({  
  	url: 'http://api.vk.com/method/users.get?user_ids={$list}&fields=photo_100',  
  	dataType: "jsonp",  
	success:function(e){ 
		for(i in e.response){
			u=e.response[i];
			uid=u.uid;
			console.log(uid);
			$("#u"+uid).html("<img src='"+u.photo_100+"'><br /><h4>"+u.first_name+" "+u.last_name+"</h4>");
		}
	}  
}); 
</script>